@import url('https://fonts.googleapis.com/css2?family=Mingzat&display=swap');

html {
    font-family: 'Mingzat', sans-serif;
}

#hero-container {
    width: 100vw;
    height: 80vw;
    max-height: 900px;
    background-color: black;
}

.center {
    height: 100%;
    margin: 0 auto;
    width: 989px;
}


.hero-video-embed {
    width: 100%;
    height: 56%;
    border-radius: 10px;
}

#hero-title {
    padding: 2vw 0;
    font-size: 3vw;
    text-align: center;
    color: white;
    font-weight: bold;
}

#topic-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    height: 25vw;
    max-height: 275px;
}

#topic-container > div {
    height: 100%;
    background-color: white;
    gap: 5px;
    border: 1px solid black;
}

@media (max-width: 990px) {
    .center {
        width: 100%;
    }

    
}

