@import url('https://fonts.googleapis.com/css2?family=Mingzat&display=swap');

html {
    font-family: 'Mingzat', sans-serif;
    background-color: #025E73;
}

/* Index */

#hero-container {
    width: 100vw;
    height: 80vw;
    background-color: #025E73;
    padding-top: 1vw;
}

.hero-center {
    height: 100%;
    margin: 0 auto;
    width: 989px;
    background-color: rgba(0,0,0,1);
    padding-bottom: 10vh;
}

.hero-video-embed {
    width: 100%;
    height: 56%;
    border-radius: 10px;
}

#hero-title {
    padding: 2vw 0;
    font-size: 3vw;
    text-align: center;
    color: #BFB78F;
    font-weight: bold;
}

#topic-container {
    padding-left: 1vw;
    color: white;
    background-color: black;
    padding-bottom: 1vw;
}

#topic-container > h3 {
    font-weight: bold;
    font-size: 2vw;
    padding: 1vw 0;
}

#topic-container  ul {
    list-style-type: disc;
}

#topic-container  ul li {
    margin-left: 3vw;
}

#topic-container > hr {
    margin: 2vw 0;
}


@media (max-width: 990px) {
    .center {
        width: 100%;
    }

}

/* Code Page */

#container {
    width: 100vw;
    height: 80vw;
    background-color: #025E73;
    padding-top: 1vw;
}

.center {
    margin: 0 auto;
    width: 989px;
    background-color: rgba(0,0,0,1);
    padding: 2vw;
    padding-bottom: 10vh;
    color: white;
    
}

.code-template {
    border: 1px solid black;
}

.code-question {
    font-style: italic;
    background-color: white;
    color: black;
    font-weight: bold;
    border-radius: 5px;
    padding: 1vw;
    margin-top: 5px;
}

.code-example {
    background-color: rgb(22, 22, 34);
    padding: 1vw;
    font-family: 'Courier New', Courier, monospace;
    margin: 1vw 0;
    border: 2px solid white;
}