@import url('https://fonts.googleapis.com/css2?family=Mingzat&display=swap');

nav {
    font-family: 'Mingzat', sans-serif;
    background-color: #a5efff;
    color: black;
    padding: .5vw 0;
}

nav > .nav-links {
    display: grid;
    grid-template-columns: 40% repeat(4, 1fr);
    text-align: center;
    max-width: 750px;
    margin: 0 auto;
    width: 80%;
    font-size: max(1.5vw, 16px);
}

nav a {
    text-decoration: none;
    color: black;
}

nav a:visited {
    color: black;
}

